<div class="splitcontentleft">
  <table class="list members">
    <thead>
      <tr>
        <th>Query</th>
        <th>Roles</th>
        <th>Interval</th>
      </tr>
    </thead>
    <tbody>
      <% @reminders.each do |reminder| %>
        <tr>
          <td><%= reminder.query.name %></td>
          <td><%= reminder.roles.collect {|r| r.name}.join(',') %></td>
          <td><%= reminder.interval %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="splitcontentright">
  <%= render :partial => 'form', :object => @reminder %>
</div>
