<div id="interval_values-<%= reminder.new_record? ? 'new' : reminder.id %>">
  <%= label(:interval, l(:value)) %>:
  <%= select_tag(:interval_value, options_for_select(possible_values, selected_value)) %>
</div>
