<% @queries_data.each do |data| %>
<% data[1].project = data[0] %>
<h1><%= "#{data[0].name}: #{data[1].name}"%></h1>
<table class="list issues">
  <thead>
    <tr>
      <% data[1].columns.each do |col| %>
      <th title="<%= col.caption %>"><%= col.caption %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% data[1].issues.each do |issue| %>
      <tr>
        <% data[1].columns.each do |column| %>
          <%= content_tag 'td', content_for_column(column, issue) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
